<div class="container-fluid cMargin">
  <div class="row">
    <div class="col-lg col-md col-sm">
      <ul class="nav justify-content-center navResize">
        <li class="nav-item">
          <a class="nav-link active" href="#">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Packages</a>
        </li>
        <img src="../../../assets/img/Logo.png" class="img-fluid logoMove" width="140">

        <li class="nav-item">
          <a class="nav-link" href="#">Amenities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reserve</a>
        </li>
      </ul>
    </div>
  </div>
</div>
