<div class="hero-image">
  <img src="../../../assets/img/header.jpg" class="imgTest" height="450">
  <div class="carousel-caption">
    <div class="jumbotron bgShade">
      <h1 class="display-4">Run on the wheel of luxury</h1>
      <p class="lead">Explore everything the beach has to offer in our relaxing resort.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row rResize">
    <div class="col-4">
      <img src="../../../assets/img/hamsterhomejpg.jpg" class="img-fluid imgResize">
    </div>
    <div class="col-8">

      <h2>Welcome to a Hamster's Paradise</h2>
      <p>
        Nestled in the heart of Cavia California, La Petite Maison is a luxury
        hotel designed for the small mammal with extravagance in mind. Escape
        to the warm comforts of stunning rooms, a relaxing spa, and a pool with
        a beach side view.
      </p>
      <p>
        Inspired by the warm beauty of the California Coast,
        we invite you to enjoy the rich accommodations along with our unmatched
        luxury. Discover the satisfaction of indulging in our quality rooms,
        and thank you for choosing La Petite Maison.
      </p>
      <div class="row">
        <div class="col-4">
          <img src="../../../assets/img/awardfinest.png" class="img-fluid imgResize2">
        </div>
        <div class="col-4">
          <img src="../../../assets/img/awardsatisfaction.png" class="img-fluid imgResize2">
        </div>
        <div class="col-4">
          <img src="../../../assets/img/awardgenuine.png" class="img-fluid imgResize2">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hero-image2">
  <div class="row txtResize">
    <h4>Our Rooms</h4>
  </div>
  <div class="row cardResize">
    <div class="card cardSpace" style="width: 18rem;">
      <img src="../../../assets/img/room1.jpg" class="card-img-top" alt="Room 1">
      <div class="card-body">
        <h5 class="card-title">Queen Room</h5>
        <p>850 SQ FT room with city view</p>
        <p> • One queen size bed</p>
        <p> • Seed Bar, fireplace and large balcony</p>
        <p> • Small kitchen with a refrigerator and stove</p>
        <a href="#" class="btn btn-primary">Reserve</a>
      </div>
    </div>
    <div class="card cardSpace" style="width: 18rem;">
      <img src="../../../assets/img/room2.jpg" class="card-img-top" alt="Room 2">
      <div class="card-body">
        <h5 class="card-title">King Room</h5>
        <p>950 SQ FT room with beach view</p>
        <p> • One king size bed</p>
        <p> • Seed Bar, fireplace and large balcony</p>
        <p> • Small kitchen with a refrigerator and stove</p>
        <a href="#" class="btn btn-primary">Reserve</a>
      </div>
    </div>
    <div class="card cardSpace" style="width: 18rem;">
      <img src="../../../assets/img/room3.jpg" class="card-img-top" alt="Room 3">
      <div class="card-body">
        <h5 class="card-title">Beach Side Suite</h5>
        <p>1500 SQ FT Suite with beach view</p>
        <p> • One California king size bed</p>
        <p> • Second room with fireplace, hot tub, and balcony</p>
        <p> • Seed Bar and coffee station</p>
        <p> • Full kitchen with a refrigerator, stove, and island</p>
        <a href="#" class="btn btn-primary">Reserve</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row txtResize rResize2">
    <h2>Packages</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="../../../assets/img/hamsterwedding.jpg" class="img-fluid">
      </div>
      <div class="col">
        <h3>Beach Wedding package</h3>
        <p class="blue">Starting US $1,500.00</p>
        <p class="tResize">
          Feel the warmth of the beach as the flames in your
          hearts ignite during our romantic beach side wedding.
          All wedding packages include catering, an open bar,
          and one tier wedding cake (9" Vanilla standard cake).
          A private dinner for your closets family members and
          friends will be provided after the ceremony.
        </p>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <h3>Full Bloom Package</h3>
        <p class="blue">Starting US $1,000.00</p>
        <p class="tResize">
          Enjoy the shade of our cherry trees as you join us
          during our spring time celebration. We invite you
          to our orchards for cherry, strawberry, and apple
          picking that is open all day. We end each evening
          with fresh, vegetable centric dinners along with
          a live show from local musicians.
        </p>
      </div>
      <div class="col">
        <img src="../../../assets/img/hamsterspring.jpg" class="img-fluid">
      </div>
      <div class="w-100"></div>
      <div class="col">
        <img src="../../../assets/img/hamstercheese.jpg" class="img-fluid">
      </div>
      <div class="col">
        <h3>Cheese and Seed Tour Package</h3>
        <p class="blue"> Starting US $1,200.00</p>
        <p class="tResize">
          Immerse yourself in the flavors of Cavia with our
          Cheese and Seed tour. We consulted with connoisseurs
          from around the globe to bring you the best flavors
          that nature has to offer, and create our cheeses right
          here at our local creamery. Cheese and seeds are served
          all day and nightly spa treatment is provided after dinner.
        </p>
      </div>
    </div>
  </div>
</div>

  <div class="hero-image3">
    <img src="../../../assets/img/bg.jpg" class="testStretch" height="550">
    <div class="hero-text">
      <div class="row txtResize2">
        <h2>Amenities</h2>
        <p class="pResize">
          Here at La Petite Maison, we invite you to enjoy
          our services in hopes that you have the most
          relaxing stay we can provide.
        </p>
      </div>
      <div class="row rResize2">
        <div class="col-3">
          <img src="../../../assets/img/24hour.png" class="img-fluid">
          <div class="w-100"></div>
          <h6>24 Hour Room Service</h6>
        </div>
        <div class="col-3">
          <img src="../../../assets/img/breakfast.png" class="img-fluid">
          <div class="w-100"></div>
          <h6>Complimentary Breakfast</h6>
        </div>
        <div class="col-3">
          <img src="../../../assets/img/valet.png" class="img-fluid imgResize3">
          <div class="w-100"></div>
          <h6>Valet Parking</h6>
        </div>
        <div class="col-3">
          <img src="../../../assets/img/pool.png" class="img-fluid">
          <div class="w-100"></div>
          <h6>Beachside Pool</h6>
        </div>
      </div>
    </div>
  </div>

<div class="container sTweak">
  <div class="row bgc">
    <div class="col">
      <p class="txtResize3">Reserve a Room</p>
      <form>
        <div class="row bgc2">
          <div class="col">
            <label for="checkIn">Check In</label>
            <input type="text" class="form-control rounded-0" placeholder="Check In">
          </div>
          <div class="col">
            <label for="checkOut">Check Out</label>
            <input type="text" class="form-control rounded-0" placeholder="Check Out">
          </div>
          <div class="col">
            <label for="numGuest">Number of Guests</label>
            <input type="text" class="form-control rounded-0" placeholder="Num. of Guest">
          </div>
          <div class="col">
            <label for="roomType">Room Type</label>
            <input type="text" class="form-control rounded-0" placeholder="Room Type">
          </div>
          <div class="col">
            <label for="btnHide" class="hide">button</label>
            <a href="#" class="btn btn-primary" role="button">Check Availability</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="../../../assets/img/hamsterreserve.jpg" class="img-fluid imgResize" width="928">
    </div>
  </div>
</div>
